div {
    background-color: #378B74;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
h1 {
    margin-top: 2vh;
}
h1, h2 {
    color: white;
    text-shadow: 1px 1px 4px black;
}

img {
    margin: 11vh 0;
    width: 40vh;
    animation: rotation 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    filter: drop-shadow(1px 1px 4px black);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}