.mat-grid-tile {
    border: solid 2px rgb(79, 78, 161);
}
h1 {
  margin-left: 2vh;
}
.tabla {
    width: 100%;
  }
  
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  height: 9vh;
  cursor: pointer;
}
.mat-cell{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.mat-row:hover .mat-cell {
  border-color: currentColor;
  background-color: #378b7560;
  color: white;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-column-NombreLiga {
  flex: 0 0 60%;
}

.mat-column-LogoLiga {
  flex: 0 0 37.45%;
}

.logo {
  display: flex;
  justify-content: inherit;
  padding-left: 5vh;
}

img {
  width: 8vh;
}

.mat-row {
  height: 90px;
  min-height: 90px;
}

mat-header-cell {
  font-weight: bold;
  background-color: rgb(191, 191, 199);
}

.texto {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {

  .mat-column-NombreEquipo {
    flex: inherit;
    width: 100%;
    font-size: 12px;
  }
  .mat-column-LogoEquipo {
    flex: inherit;
    width: 100%;
    font-size: 12px;
  }
  .mat-sort-header {
    flex: inherit;
    width: 100%;
    font-size: 12px;
  }
  .foto {
    width: 7vh;
  }
  mat-header-row *{
    padding-left: 17vh;
  }
}